@import '~bootstrap/scss/bootstrap';

:root {
  --major: #ff6600;
  --gray: #767678;
}

html,
body {
  background-color: #b4b4b4;
  font-family: sans-serif, 'Oswald', 'Roboto', 'LXGW WenKai TC';
  font-weight: 400;
  font-style: normal;
}

.app {
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: #e2e2e2;
}

.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  cursor: pointer;
  color: var(--major);
  fill: var(--major);
}

// utilties
.btn-reset {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  font-size: 100%;
  vertical-align: baseline;
  font-family: inherit;
  font-weight: inherit;
  appearance: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: pointer;
  outline: 0;
}

.todoPage {
  width: 50%;
  background-color: white;
  border: 1px solid rgb(205, 205, 205);
  margin: 0 auto;
  padding: 1.5rem;
}

.container {
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.todoCollection {
  margin-top: 1.5rem;
}
